/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* COLOR SYSTEM */
:root {
  --color-primary: var(--oc-cyan-7);
  --color-accent: var(--oc-orange-8);
  --color-accent-light: var(--oc-blue-1);
  --color-text: var(--oc-gray-9);
  --color-text-light: var(--oc-gray-0);
  --color-background: var(--oc-gray-2);

  --color-ozon: var(--oc-indigo-9);
  --color-yandex: var(--oc-yellow-9);
  --color-wildberries: var(--oc-grape-8);

  --radius-round: 50%;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* GLOBAL STYLES */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Nunito", sans-serif;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
  margin-bottom: 128px;
}

.header-text-box {
  margin-top: 48px;
}

header img {
  width: 400px;
  margin-right: 48px;
}

h1 {
  font-size: 86px;
  line-height: 1;
  margin-bottom: 32px;
  font-weight: 800;
  color: var(--color-primary);
}

.header-text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.buttons {
  margin-left: 24px;
}

header a {
  display: inline-block;
  margin-right: 16px;
  text-transform: uppercase;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

header a:last-child {
  margin-right: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.btn {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 999px;
  background-color: var(--color-primary);
  color: var(--color-background);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:link,
.btn:visited {
  font-size: 24px;
  text-decoration: none;
  color: var(--color-text-light);
}

.btn:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(0) scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* NAV */

nav {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.logo {
  display: inline-block;
  width: 180px;
  color: var(--color-primary);
}

nav ul {
  display: flex;
}

ul {
  list-style: none;
}

li {
  margin-right: 48px;
}

li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
}

nav ul li a:hover,
nav ul li a:active {
  color: var(--color-accent);
  transform: translateY(-2px) scale(1.05);
}

/* HIGHLIGHT SECTION */

.highlight {
  height: 550px;
  background-color: rgba(176, 151, 252, 0.2);
  border-radius: 24px;
  margin-bottom: 128px;
}

.hightlight-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 0 64px;
  padding-top: 32px;
}

.padding-top {
  padding-top: 80px;
}

.highlight img {
  height: 350px;
  border-radius: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.highlight-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.highlight h2 {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 48px;
  padding-top: 24px;
  color: var(--color-accent);
  text-align: center;
}

.highlight p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 32px;
}

.buttons a {
  margin-right: 16px;
  padding: 8px 16px;
}

.buttons a:last-child {
  margin-right: 0;
}

/* PRODUCTS CARDS */

.product-cards-section {
  padding-top: 28px;
}

.product-cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 128px;
  background-color: var(--color-background-dark);
  border-radius: 5px;
}

.product-cards-section h2 {
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 28px;
  font-weight: 700;
  color: var(--color-primary);
}
.product-cards article {
  width: 350px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  background-color: #f9f9f9;
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
}

.product-cards article:hover {
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.product-image {
  width: 100%;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.product-details h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-accent);
}

.product-details li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 16px;
  list-style: none;
  margin-left: 16px;
}

.product-details li:last-child {
  margin-bottom: 28px;
}

.product-text {
  font-size: 18px;
  font-weight: 600;
}

.product-icon {
  color: var(--color-accent);
  width: 24px;
  height: 24px;
}

.card-link {
  display: flex;
  justify-content: center;
}

.text-button {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--color-accent);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px;
  text-decoration: none;
}

.text-button:hover {
  transform: translateY(-2px) scale(1.05);
}

/* DOWNLOADS */

.files-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

.file-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-block h3 {
  margin-bottom: 8px;
}

.downloads .text-button {
  margin: 0;
}

.upload-callout {
  text-align: center;
}

.upload-callout p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
